@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat, Arial;
	background: black;
	color: #fff;
	height: 100vh;
	line-height: 1.6;
	overflow: hidden;
}

.container {
	width: 100%;
	height: 100%;
	overflow-y: scroll; 
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.lead, p {
	font-size: 26px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
}

section a {
	font-size: 1.2rem;
	color: #fff;
	text-decoration: underline;
}

section h2 {
	font-size: 3rem;
}

section#home {
	background-image: url('/static/images/home-background.jpg');
	background-size: cover;
	background-position: center;
}

.home-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

section#context {
	background-image: url('/static/images/context-background.jpg');
	background-size: cover;
	background-position: center;
}

.context-overlay {
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 200%); 
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.context-overlay h2 {
	border-top: solid 5px #8B0000;
	border-left: solid 5px #8B0000;
	padding-left: 10px;
}

.context-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

section#methodology {
	background-image: url('/static/images/methodology-background.jpg');
	background-size: cover;
	background-position: center;
}

.methodology-overlay {
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 120%); 
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.methodology-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}

.methodology-image {
	display: flex;
	align-items: center;
	margin-top: 20px; 
	margin-bottom: 20px;
}

.craft-image {
	width:1200px;
}

section#results {
	background-image: url('/static/images/results-background.jpg');
	background-size: cover;
	background-position: center;
}

.results-overlay {
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 140%); 
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.results-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
}

.results-table1 {
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: 100%;
}

.results-table2 {
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: 100%;
}

.results-contents-economic, .results-contents-conclusion {
	margin-top: 30px;
}

section#example {
	background-image: url('/static/images/example-background.jpg');
	background-size: cover;
	background-position: center;
}

.example-overlay {
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 160%); 
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.example-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
	margin-top: 50px;
}

.production-table {
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: 65%;
}

.example-button {
	font-family: Montserrat, Arial;
	background-color: #8B0000;
	border: none;
	color: white;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 6px;
	margin-top: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 24px;
	transition: background-color 0.15s, color 0.15s;
}

.example-button:hover {
	background-color: white;
	color: #8B0000;
}

.example-button:active {
	opacity: 0.7;
}

a {
	display: inline-block;
	transition: .3s;
	font-weight:bold;
	text-decoration:none;
}

a:not(.change-data-button):hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

th {
	background-color: #8B0000;
	color: white;
}

th, td {
	padding: 5px;
}

